[user]
	name = yonep3904
	email = s59201@ga.ariake-nct.ac.jp
[init]
	defaultBranch = main
[core]
	quotepath = false
	autocrlf = input
[color]
        ui = auto
[alias]
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	cm = "commit -m"
